<app-edit-navbar *ngIf="character" [characterName]="character.basic.name"></app-edit-navbar>


<div class="container-fluid" *ngIf="character">
    <app-detail-bar 
        *ngIf="character" 
        [karmaSpent]="character.totalKarmaSpent" 
        [karmaTotal]="character.totalKarma" 
        [nuyentotal]="this.character.totalNuyen"
    ></app-detail-bar>
    
    <app-concept-step *ngIf="currentEditorStep === 'concept'" [character]="character"></app-concept-step>

    <app-priority-step *ngIf="currentEditorStep === 'priorities'" [character]="character"></app-priority-step>

    <app-meta-type-step *ngIf="currentEditorStep === 'meta-type'" [character]="character"></app-meta-type-step>

    <app-quality-step *ngIf="currentEditorStep === 'qualities'" [character]="character"></app-quality-step>

    <app-attribute-step *ngIf="currentEditorStep === 'attributes'" [character]="character"></app-attribute-step>

    <app-magic-step *ngIf="currentEditorStep === 'magic'" [character]="character"></app-magic-step>

    <app-augment-step *ngIf="currentEditorStep === 'augment'" [character]="character"></app-augment-step>

    <app-weapon-step *ngIf="currentEditorStep === 'weapons'" [character]="character"></app-weapon-step>

</div>
