<div class="offcanvas-header px-4 pb-0">
    <h5 class="offcanvas-title p-0">Settings</h5>
    <button class="btn p-0" type="button" (click)="activeOffcanvas.dismiss()">
        <i class="bi bi-x-circle-fill fs-3 text-white"></i>
    </button>
    
</div>
<div class="offcanvas-body p-4 pt-0">

    <hr class="text-white-50">
    <h6 class="offcanvas-title p-0">Coming Soon...</h6>

    <hr class="text-white-50">

    <hr class="text-white-50">
    <button class="btn btn-primary" type="button" (click)="activeOffcanvas.close()">Close</button>
</div>
