<div class="row">
    
    <div class="col-md-6">

        <div class="card bg-primary shadow">

            <div class="card-header">
                <h5 class="card-title text-white m-0">Priorities</h5>
            </div>

            <div class="card-body">
                <form [formGroup]="prioritiesFormGroup">
                    <div class="row text-center justify-content-between">

                        <div class="col-lg-2 gx-2">
                            <label class="form-label" for="metatype">Meta Type</label>
                            <select class="form-select" formControlName="metaType">
                                <option *ngFor="let priority of availablePriorityOptions" [ngValue]="priority">
                                    {{ priority | titlecase }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-2 gx-2">
                            <label class="form-label" for="attributes">Attributes</label>
                            <select class="form-select" formControlName="attributes">
                                <option *ngFor="let priority of availablePriorityOptions" [ngValue]="priority">
                                    {{ priority | titlecase }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-3 gx-2">
                            <label class="form-label" for="magicResonance">Magic / Resonance</label>
                            <select class="form-select m-auto" formControlName="magicResonance">
                                <option *ngFor="let priority of availablePriorityOptions" [ngValue]="priority">
                                    {{ priority | titlecase }}
                                </option>
                            </select>
                        </div>
                        
                        <div class="col-lg-2 gx-2">
                            <label class="form-label" for="skills">Skills</label>
                            <select class="form-select" formControlName="skills">
                                <option *ngFor="let priority of availablePriorityOptions" [ngValue]="priority">
                                    {{ priority | titlecase }}
                                </option>
                            </select>
                        </div>

                        <div class="col-lg-2 gx-2">
                            <label class="form-label" for="resources">Resources</label>
                            <select class="form-select" formControlName="resources">
                                <option *ngFor="let priority of availablePriorityOptions" [ngValue]="priority">
                                    {{ priority | titlecase }}
                                </option>
                            </select>
                        </div>

                    </div>
                </form>
                <div class="row text-center mt-2" *ngIf="!isFormValid">
                    <div class="col">
                        <p class="text-warning m-0">Under normal circumstances, you may only set a priority level once.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>