<div class="row">
    <div class="col-lg-6">

        <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item bg-primary sticky-top">
                <div class="d-flex justify-content-between">
                    <h5 class="text-white m-0">Character Positive Qualities</h5>
                    <span class="text-end text-info">Remaining Starting Karma: {{ character.remainingStartingKarama }}</span>
                </div>
            </li>
            <div *ngFor="let quality of characterPositiveQualities">
                <app-quality-selected-list-item
                    *ngIf="quality.name !== 'exceptional attribute'"
                    [qualityReference]="quality"
                    (removeQualityEvent)="removePositiveQuality($event)"
                    (qualityReferenceRatingChange)="updatePositiveQualityReference($event)"
                ></app-quality-selected-list-item>

                <app-quality-exceptional-attr-selected-list-item
                    *ngIf="quality.name === 'exceptional attribute'"
                    [qualityReference]="quality"
                    [character]="character"
                    (removeQualityEvent)="removePositiveQuality($event)"
                    (qualityReferenceAttributeChange)="updatePositiveQualityReference($event)"
                ></app-quality-exceptional-attr-selected-list-item>
            </div>
        </ul>

    </div>

    <div class="col-lg-6">

        <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item bg-primary sticky-top">
                <div class="d-flex justify-content-between">
                    <h5 class="text-white m-0">Positive Qualities</h5>
                </div>
            </li>
            <app-quality-unselected-list-item
                *ngFor="let quality of availablePositiveQualities"
                [quality]="quality"
                (addQualityEvent)="addPositiveQuality($event)"
            ></app-quality-unselected-list-item>
        </ul>

    </div>
</div>

<div class="row">
    <div class="col-lg-6">

        <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item bg-secondary sticky-top">
                <div class="d-flex justify-content-between">
                    <h5 class="text-white m-0">Character Negative Qualities</h5>
                    <span class="text-end text-info">Remaining Starting Karma: {{ character.remainingStartingKarama }}</span>
                </div>
            </li>
            
        </ul>

    </div>

    <div class="col-lg-6">

        <ul class="list-group list-group-flush mt-2">
            <li class="list-group-item bg-secondary sticky-top">
                <div class="d-flex justify-content-between">
                    <h5 class="text-white m-0">Negative Qualities</h5>
                </div>
            </li>
            <app-quality-unselected-list-item
                *ngFor="let quality of availableNegativeQualities"
                [quality]="quality"
                (addQualityEvent)="addNegativeQuality($event)"
            ></app-quality-unselected-list-item>
        </ul>

    </div>
</div>
