<li class="list-group-item">

    <div class="row" (click)="collapsed = !collapsed">
        <div class="col-md-4 col-12 d-flex align-items-center">
            <h6 class="my-2">{{ qualityReference.name | titlecase }}</h6>
        </div>

        <div class="col-md-2 col-3 d-flex align-items-center">
            <span class="text-success" *ngIf="quality.type === 'positive'">{{ quality.type | titlecase }}</span>
            <span class="text-danger" *ngIf="quality.type === 'negative'">{{ quality.type | titlecase }}</span>
        </div>

        <div class="col-md-4 col-5 d-flex align-items-center">
            <span class="text-info me-1" *ngIf="quality.type === 'positive'">Karma Cost:</span>
            <span class="text-info me-1" *ngIf="quality.type === 'negative'">Karma Reward:</span>
            <span>{{ qualityReference.karmaCost * qualityReference.ratingValue }}</span>
        </div>

        <div class="col-md-2 col-4 d-flex justify-content-end align-items-center">
            <span class="text-info me-2">Source:</span>
            <span class="fs-7 my-auto">{{ quality.source }}</span>
        </div>
    </div>

    <div class="my-2" [(ngbCollapse)]="collapsed">
        <div class="row">
            <div class="col-6">

                <form [formGroup]="attributeForm" *ngIf="attributeForm">
                    <label for="attributeName" class="form-label>">Attribute:</label>
                    <select type="text" class="form-select form-control-sm text-center" id="attributeName" formControlName="attributeName">
                        <option *ngFor="let attributeOption of attributeOptions" [value]="attributeOption">
                            {{ attributeOption | titlecase }}
                        </option>
                    </select>
                </form>

                <form [formGroup]="optionsForm" *ngIf="optionsForm">
                    <label for="option" class="form-label>">Option:</label>
                    <select type="text" class="form-select form-control-sm text-center" id="option" formControlName="option">
                        <option *ngFor="let formOption of formOptions" [value]="formOption.name">
                            {{ formOption.name | titlecase }}
                        </option>
                    </select>
                </form>

                <form [formGroup]="ratingForm" *ngIf="ratingForm">
                    <label for="rating" class="form-label>">Rating:</label>
                    <select type="text" class="form-select form-control-sm text-center" id="rating" formControlName="rating">
                        <option *ngFor="let ratingOption of ratingOptions" [value]="ratingOption">
                            {{ ratingOption }}
                        </option>
                    </select>
                </form>

            </div>

            <div class="col-6 d-flex justify-content-end">
                <button class="btn btn-danger my-auto" (click)="emitRemoveQualityReferenceEvent()">
                    <i class="bi bi-trash"></i>
                </button>
            </div>

        </div>
    </div>
</li>
