.rounded-table {
    overflow: hidden;
    border-radius: var(--bs-border-radius);
}

.portrait-img-select {
    width: 10rem;
}

.portrait-img-select :hover {
    border: 2px solid var(--bs-primary);
    cursor: pointer;
}

.form-control, .form-select {
    background: none;
    border-radius: 0%;
    border: none;
    border-bottom: 2px solid var(--bs-primary);
    color: white;
}

.no-border-radius {
    border-radius: 0;
}

.customer-list-group-item {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);
}

.rounded-list-group-item {
    border-bottom-left-radius: var(--bs-border-radius);
    border-bottom-right-radius: var(--bs-border-radius);  
}