<form class="row justify-content-md-center text-center mb-3" [formGroup]="form">

    <div class="col-md-2">
        <label for="metaType" class="form-label">Meta Type</label>
        <select class="form-select text-center px-0" name="metaType" formControlName="metaType">
            <option *ngFor="let priorityOption of priorityOptions" [ngValue]="priorityOption">
                {{ priorityOption | titlecase }}
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="attributes" class="form-label">Attributes</label>
        <select class="form-select text-center px-0" name="attributes" formControlName="attributes">
            <option *ngFor="let priorityOption of priorityOptions" [ngValue]="priorityOption">
                {{ priorityOption | titlecase }}
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="Magic" class="form-label">Magic</label>
        <select class="form-select text-center px-0" name="magic" formControlName="magic">
            <option *ngFor="let priorityOption of priorityOptions" [ngValue]="priorityOption">
                {{ priorityOption | titlecase }}
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="skills" class="form-label">Skills</label>
        <select class="form-select text-center px-0" name="skills" formControlName="skills">
            <option *ngFor="let priorityOption of priorityOptions" [ngValue]="priorityOption">
                {{ priorityOption | titlecase }}
            </option>
        </select>
    </div>

    <div class="col-md-2">
        <label for="resources" class="form-label">Resources</label>
        <select class="form-select text-center px-0" name="resources" formControlName="resources">
            <option *ngFor="let priorityOption of priorityOptions" [ngValue]="priorityOption">
                {{ priorityOption | titlecase }}
            </option>
        </select>
    </div>

</form>

<div class="row justify-content-md-center text-center mb-3">
    <span class="text-warning" *ngIf="!isFormValid">Under normal conditions you may only select each priority once!</span>
</div>

<div class="row justify-content-md-center text-center">
    <div class="col-12">
        <div class="table-responsive">
            <table class="table table-striped table-secondary shadow">
                <thead>
                    <tr class="text-center rounded-table">
                        <th colspan="6">
                            <h5 class="m-0">Priority Table</h5>
                        </th>
                    </tr>
                    <tr class="text-center">
                        <th class="col-1" scope="col">Priority</th>
                        <th class="col-2" scope="col">Meta Type</th>
                        <th class="col-1" scope="col">Attributes</th>
                        <th class="col-6" scope="col">Magic or Resonance</th>
                        <th class="col-1" scope="col">Skills</th>
                        <th class="col-1" scope="col">Resources</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let priority of priorityOptions">
                        <td class="text-center text-body-tertiary">
                            {{ priority | titlecase }}
                        </td>
                        <td class="text-center text-body-tertiary">
                            <ul class="list-unstyled" [ngClass]="{ 'text-info': this.character.priorities.metaType === priority }">
                                <li *ngFor="let metaType of getPriorityMetaTypesFromTable(priority)">
                                    {{ metaType.name | titlecase }} ({{ metaType.specialAttrPoints }})
                                </li>
                            </ul>
                        </td>
                        <td class="text-center text-body-tertiary">
                            <span [ngClass]="{ 'text-info': this.character.priorities.attributes === priority }">
                                {{ getPriorityAttributePointsFromTable(priority) }}
                            </span>
                        </td>
                        <td class="text-body-tertiary">
                            <ul class="list-unstyled fs-7">
                                <li *ngFor="let text of getPriorityMagicTextFromTable(priority)">
                                    <strong [ngClass]="{ 'text-info': this.character.priorities.magic === priority }">{{ text.title }}: </strong>
                                    <span class="text-white">{{ text.description }}</span>
                                </li>
                            </ul>
                        </td>
                        <td class="text-center text-body-tertiary">
                            <span [ngClass]="{ 'text-info': this.character.priorities.skills === priority }">
                                {{ getPrioritySkillsPointsFromTable(priority).skillPoints }}/{{ getPrioritySkillsPointsFromTable(priority).skillGroupPoints }}
                            </span>
                        </td>
                        <td class="text-center text-body-tertiary">
                            <span [ngClass]="{ 'text-info': this.character.priorities.resources === priority }">
                                {{ getResourceAmountByLevelOfPlayFromTable(priority) }} &#165;
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


