<div class="modal-header">
    <h5 class="modal-title">Select Portrait</h5>
    <button class="btn-close" type="button" aria-describedby="modal-title" (click)="dismiss()"></button>
</div>
<div class="modal-body">
    <div ngbAccordion>
        <div ngbAccordionItem *ngFor="let metaTypeOption of metaTypeOptions" [collapsed]="true">
            <div ngbAccordionHeader class="accordion-button meta-type-selection-header justify-content-between" ngbAccordionToggle>
                <p class="text-info m-0">
                    {{ metaTypeOption.name | titlecase }}
                </p>
                <div>
                    <button class="btn btn-primary" (click)="emitSelectMetaType(metaTypeOption.name)">
                        Select
                    </button>
                </div>
            </div>
            <div ngbAccordionCollapse>
                <div ngbAccordionBody>
                    <div class="row mb-3">
                        <div class="col-12">
                            <span>
                                <strong class="text-info">Racial Abilities: </strong>
                                {{ getMetaTypeRacial(metaTypeOption.name) }}
                            </span>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <span>
                                <strong class="text-info">Special Attribute Points: </strong>
                                {{ this.metaTypeOption.specialAttrPoints }}
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <app-meta-type-starting-attrs-table [metaType]="metaTypeOption.name"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="close()">
        Close
    </button>
</div>

