<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-primary shadow">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">Grimoire</a>
        <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [(ngbCollapse)]="isCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['']" [routerLinkActive]="'active'">ShadowRun</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['']" [routerLinkActive]="'active'">SSTL</a>
                </li>
                <li ngbDropdown class="nav-item dropdown">
                    <a ngbDropdownToggle class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gaming Tools
                    </a>
                    <ul ngbDropdownMenu class="dropdown-menu">
                        <li ngbDropdownItem>
                            <a class="dropdown-item" [routerLink]="['gaming-tools', 'inventories']">Inventory</a>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </div>
</nav>