<div class="row" *ngIf="attributeForm">
    
    <div class="col-12">

        <div class="card bg-primary shadow mb-2">

            <div class="card-header">
                <h5 class="card-title text-white m-0">Attributes</h5>
            </div>

            <div class="card-body">

                <form [formGroup]="attributeForm">
                    <table class="table table-sm text-center m-0">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-1">Race</th>
                                <th class="col-1">Build Points</th>
                                <th class="col-1">Increases</th>
                                <th class="col-1">Bonuses</th>
                                <th class="col-1">Total</th>
                            </tr>
                        </thead>
                        <tbody formGroupName="attributes">
                            <tr *ngFor="let attributeName of attributeNames" formGroupName="{{ attributeName }}">
                                <td>
                                    <span>
                                        {{ attributeName | titlecase }}
                                    </span>
                                    <i  
                                        ngbTooltip="Exceptional Attribute, +1 to attribute max"
                                        position="bottom"
                                        class="bi bi-caret-up-fill text-success"
                                        *ngIf="isAttributeExceptional(attributeName)"
                                    ></i>
                                </td>
                                <td>{{ getAttributeMinValue(attributeName) }}</td>
                                <td>
                                    <select class="form-select form-select-sm text-center" formControlName="buildPoints">
                                        <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm text-center" formControlName="increases">
                                        <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td [ngClass]="{ 'text-danger': isAttributeTotalValueGreaterThanMax(attributeName) }">
                                    {{ getAttributeTotalValue(attributeName) }} / {{ getAttributeMaxValue(attributeName) }}
                                    <i 
                                        class="bi bi-exclamation-diamond-fill text-warning warning-flash px-1"
                                        *ngIf="isAttributeTotalValueGreaterThanMax(attributeName)"
                                    ></i>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td [ngClass]="{ 'text-danger': getAllAttributeBuildPoints > priorityAttributePoints }">
                                    {{ getAllAttributeBuildPoints }} / {{ priorityAttributePoints }}
                                    <i 
                                        class="bi bi-exclamation-diamond-fill text-warning warning-flash px-1"
                                        *ngIf="getAllAttributeBuildPoints > priorityAttributePoints"
                                    ></i>
                                </td>
                                <td>
                                    {{ allAttributeTotalIncreasesCost }} karma
                                </td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Essence</td>
                                <td colspan="4"></td>
                                <td>6</td>
                            </tr>
                            <tr>
                                <td>initiative (Rea + Int)</td>
                                <td colspan="4"></td>
                                <td>{{ initiative }}</td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>
            <div class="card-footer">
                <div class="row text-center">
                    <div class="col-md-4">
                        <span ngbTooltip="{{ physicalLimitText }}" placement="bottom">Physical Limit: {{ physicalLimit }}</span>
                    </div>
                    <div class="col-md-4">
                        <span ngbTooltip="{{ mentalLimitText }}" placement="bottom">Mental Limit: {{ mentalLimit }}</span>
                    </div>
                    <div class="col-md-4">
                        <span ngbTooltip="{{ socialLimitText }}" placement="bottom">Social Limit: {{ socialLimit }}</span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<div class="row" *ngIf="specialAttributeForm">
    
    <div class="col-12">

        <div class="card bg-primary shadow mb-2">

            <div class="card-header">
                <h5 class="card-title text-white m-0">Special Attributes</h5>
            </div>

            <div class="card-body">

                <form [formGroup]="specialAttributeForm">
                    <table class="table table-sm text-center m-0">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-1">Race</th>
                                <th class="col-1">Build Points</th>
                                <th class="col-1">Increases</th>
                                <th class="col-1">Bonuses</th>
                                <th class="col-1">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let specialAttributeName of specialAttributeNames" formGroupName="{{ specialAttributeName }}">
                                <td>
                                    <span>{{ specialAttributeName | titlecase }}</span>
                                    <i
                                        ngbTooltip="Lucky, +1 edge"
                                        position="bottom"
                                        class="bi bi-caret-up-fill text-success"
                                        *ngIf="doesCharacterHaveLuckyQuality && specialAttributeName === 'edge'"
                                    ></i>
                                </td>
                                <td>{{ getSpecialAttributeMinValue(specialAttributeName) }}</td>
                                <td>
                                    <select class="form-select form-select-sm text-center" formControlName="buildPoints">
                                        <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm text-center" formControlName="increases">
                                        <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td [ngClass]="{ 'text-danger': isSpecialAttributeTotalValueGreaterThanMax(specialAttributeName) }">
                                    {{ getSpecialAttributeTotalValue(specialAttributeName) }} / 
                                    {{ getSpecialAttributeMaxValue(specialAttributeName) }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td [ngClass]="{ 'text-danger': allSpecialAttributeBuildPoints > prioritySpecialAttributePoints }">
                                    {{ allSpecialAttributeBuildPoints }} / {{ prioritySpecialAttributePoints }}
                                    <i 
                                        class="bi bi-exclamation-diamond-fill text-warning warning-flash px-1"
                                        *ngIf="allSpecialAttributeBuildPoints > prioritySpecialAttributePoints"
                                    ></i>
                                </td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>

        </div>

    </div>

</div>