<div class="container-fluid mt-3">

    <div class="row align-items-center mb-3">
        <div class="col-8">
            <h5 class="m-0">My Inventories</h5>
            <h6 class="fs-7 text-body-tertiary">{{ inventories.length }} / 25</h6>
        </div>

        <div class="col-4 d-flex justify-content-end">
            <button class="btn btn-primary me-3" (click)="openNewInventoryModal()">
                Create List
            </button>
            <button class="btn btn-primary" (click)="openUploadInventoryModal()">
                Upload List
            </button>
        </div>
    </div>

    <ul class="list-group shadow mb-3">

        <li class="list-group-item" *ngFor="let inventory of inventories">
            <div class="row align-items-center">
                <div class="col-10">
                    <a class="text-decoration-none" [routerLink]="[inventory.id]">
                        <h5 class="mb-1">{{ inventory.name | titlecase }}</h5>
                        <h6 class="mb-1 text-info">{{ inventory.gameSystem | titlecase }}</h6>
                    </a>
                </div>
                <div class="col-2">
                    <div class="d-flex justify-content-end">
                        <button class="btn p-0" (click)="openDeleteInventoryModal(inventory)" ngbTooltip="Delete Inventory" placement="bottom">
                            <i class="bi bi-trash-fill text-danger fs-5"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-8">
                    <span class="fs-8">Last Updated: {{ inventory.lastUpdated | date:"dd-MMM-yy HH:mm:ss" }}</span>
                </div>
                <div class="col-4 text-end">
                    <span class="fs-8 text-info">{{ inventory.id }}</span>
                </div>
            </div>
        </li>
    </ul>

</div>