 <strong class="text-info">Starting / Maximum Attributes</strong>

<table class="table table-sm table-secondary text-center">
    <thead>
        <tr>
            <th scope="col">Body</th>
            <th scope="col">Agi</th>
            <th scope="col">Rea</th>
            <th scope="col">Str</th>
            <th scope="col">Wil</th>
            <th scope="col">Log</th>
            <th scope="col">Int</th>
            <th scope="col">Cha</th>
            <th scope="col">Edg</th>
            <th scope="col">Ess</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> {{ metaTypeAttributesTableRow.attributes["body"].base }} / {{ metaTypeAttributesTableRow.attributes["body"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["agility"].base }} / {{ metaTypeAttributesTableRow.attributes["agility"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["reaction"].base }} / {{ metaTypeAttributesTableRow.attributes["reaction"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["strength"].base }} / {{ metaTypeAttributesTableRow.attributes["strength"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["willpower"].base }} / {{ metaTypeAttributesTableRow.attributes["willpower"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["logic"].base }} / {{ metaTypeAttributesTableRow.attributes["logic"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["intuition"].base }} / {{ metaTypeAttributesTableRow.attributes["intuition"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["charisma"].base }} / {{ metaTypeAttributesTableRow.attributes["charisma"].max }}</td>
            <td> {{ metaTypeAttributesTableRow.attributes["edge"].base }} / {{ metaTypeAttributesTableRow.attributes["edge"].max }}</td>
            <td>6</td>
        </tr>
    </tbody>

</table>

