<div class="container-fluid" *ngIf="inventory">

    <div class="row my-3">
        <div class="col-6">
            <h5>{{ inventory.name | titlecase }}</h5>
        </div>

        <div class="col-6 d-flex justify-content-end">
            <button class="btn btn-primary btn-sm me-2" (click)="openInventoryDetailsModal()">
                Inventory Details
            </button>
            <button class="btn btn-primary btn-sm" (click)="downloadInventory()">
                Download Inventory
            </button>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col">
            <ul class="list-group">
                <li class="list-group-item bg-primary d-flex justify-content-between">
                    <h5 class="m-0">Currencies</h5>
                    <div>
                        <button class="btn p-0" (click)="openUpdateCurrencyModal()"><i class="bi bi-pencil-fill"></i></button>
                    </div>
                </li>
                <li class="list-group-item" *ngFor="let currency of inventory.currencies">
                    <div class="row d-flex text-center">
                        <div class="col-12">
                            <span class="fs-7">{{ currency.name | titlecase }} ({{ currency.name | stringAbbreviationer }})</span>
                        </div>
                    </div>
                    <div class="row d-flex text-center">
                        <div class="col">
                            <button class="btn btn-danger btn-sm me-3" ngbTooltip="Subtract 10" placement="top" (click)="updateCurrency(currency.name, 'subtract', 10)">
                                --
                            </button>
                            <button class="btn btn-danger btn-sm"  ngbTooltip="Subtract 1" placement="top" (click)="updateCurrency(currency.name, 'subtract', 1)">
                                -
                            </button>
                        </div>
                        <div class="col-2 text-truncate g-0">
                            <h5 ngbTooltip="{{ currency.amount }}" placement="top">{{ currency.amount }}</h5>
                        </div>
                        <div class="col-5">
                            <button class="btn btn-success btn-sm mx-3" ngbTooltip="Add 1" placement="top" (click)="updateCurrency(currency.name, 'add', 1)">
                                +
                            </button>
                            <button class="btn btn-success btn-sm"  ngbTooltip="Add 10" placement="top" (click)="updateCurrency(currency.name, 'add', 10)">
                                ++
                            </button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mb-3">

        <div class="col-12">

            <div class="card shadow mb-2">
                <div class="card-header d-flex justify-content-between align-items-center py-0 bg-primary">
                    <span>Notes</span>
                    <button class="btn" (click)="notesCollapsed = !notesCollapsed" [attr.aria-expanded]="!notesCollapsed">
                        <i class="bi bi-caret-down-square-fill" *ngIf="notesCollapsed" ngbTooltip="Expand notes" placement="top"></i>
                        <i class="bi bi-caret-up-square-fill" *ngIf="!notesCollapsed" ngbTooltip="Collapse notes" placement="top"></i>
                    </button>
                </div>
                <div class="card-body" [(ngbCollapse)]="notesCollapsed" [animation]="true">
                    <form [formGroup]="form">
                        <textarea class="form-control" formControlName="notes" rows="6"></textarea>
                    </form>
                </div>
            </div>

        </div>

    </div>

    <div class="row mb-3">

        <div class="col-12">

            <ul class="list-group">
                <li class="list-group-item bg-primary">
                    <div class="d-flex justify-content-between">
                        <h5 class="m-0">Items</h5>
                        <button class="btn p-0" (click)="openAddItemModal()" ngbTooltip="Add item" placement="top">
                            <i class="bi bi-cart-plus-fill fs-5"></i>
                        </button>
                    </div>
                </li>
                <app-inventory-item-list-item *ngFor="let item of inventory.items" [item]="item" (openItemEditModalEvent)="openItemEditModal(item)"></app-inventory-item-list-item>
            </ul>

        </div>

    </div>

</div>