<div class="d-flex justify-content-end mb-2">
    <span class="fs-7 me-2">{{ this.character.totalKarmaSpent }}</span> 
    <span class="text-info fs-7">Total Karma Spent</span>
</div>

<div class="row">
    <div class="col-12">

        <form [formGroup]="normalAttributeForm">

            <table class="table table-secondary rounded-table text-center">
                <thead>
                    <tr>
                        <th colspan="6">Attributes</th>
                    </tr>
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-1">Race</th>
                        <th class="col-1">Build Points</th>
                        <th class="col-1">Increases</th>
                        <th class="col-1">Bonuses</th>
                        <th class="col-1">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let normalAttribute of normalAttributes" formGroupName="{{ normalAttribute }}">
                        <td>
                            <span>
                                {{ normalAttribute | titlecase }}
                            </span>
                            <i  
                                ngbTooltip="Exceptional Attribute, +1 to attribute max"
                                position="bottom"
                                class="bi bi-caret-up-fill text-success"
                                *ngIf="this.character.attributeManager.exceptionalAttributes.includes(normalAttribute)"
                            ></i>
                        </td>
                        <td>
                            {{ this.character.attributeManager.getAttributeBaseValue(normalAttribute, this.character.metaType) }}
                        </td>
                        <td>
                            <select class="form-select form-select-sm text-center p-0" formControlName="buildPoints">
                                <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm text-center p-0" formControlName="increases">
                                <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                            </select>
                        </td>
                        <td>0</td>
                        <td>
                            {{ this.character.attributeManager.getAttributeTotalValue(normalAttribute, this.character.metaType) }} / 
                            {{ this.character.attributeManager.getAttributeMaxValue(normalAttribute, this.character.metaType) }}
                            <i 
                                class="bi bi-exclamation-diamond-fill text-warning warning-flash px-1"
                                *ngIf="this.character.attributeManager.isAttributeTotalAboveMaximum(normalAttribute, this.character.metaType)"
                            ></i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td [ngClass]="{ 'text-danger': this.character.attributeManager.attributeBuildPointsTotal > this.character.attributeBuildPoints }">
                            {{ this.character.attributeManager.attributeBuildPointsTotal }} / {{ this.character.attributeBuildPoints }}

                        </td>
                        <td>
                            {{ this.character.attributeManager.getAttributeIncreasesKarmaCostTotal(this.character.metaType) }} karma
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr class="text-center">
                        <td>Essence</td>
                        <td colspan="4"></td>
                        <td>6</td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            <p class="m-0">Initiative</p>
                            <span>(Reaction + Intuition)</span>
                        </td>
                        <td colspan="4"></td>
                        <td class="align-middle">
                            {{ this.character.initiative }}
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="d-flex justify-content-between mx-4">
                                <span ngbTooltip="{{ this.character }}" placement="bottom">
                                    Physical Limit: {{ this.character.physicalLimit }}
                                </span>
                                <span ngbTooltip="{{ this.character }}" placement="bottom">
                                    Mental Limit: {{ this.character.mentalLimit }}
                                </span>
                                <span ngbTooltip="{{ this.character }}" placement="bottom">
                                    Social Limit: {{ this.character.socialLimit }}
                                </span>
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </form>

    </div>
</div>