<div class="d-flex justify-content-end mb-2">
    <span class="fs-7 me-2">{{ this.character.totalKarmaSpent }}</span> 
    <span class="text-info fs-7">Total Karma Spent</span>
</div>

<div class="row">
    <div class="col-12 table-responsive" *ngIf="normalAttributesForm">

        <form [formGroup]="normalAttributesForm">

            <table class="table table-secondary rounded-table text-center">
                <thead>
                    <tr>
                        <th colspan="6">Attributes</th>
                    </tr>
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-1">Race</th>
                        <th class="col-1">Build Points</th>
                        <th class="col-1">Increases</th>
                        <th class="col-1">Bonuses</th>
                        <th class="col-1">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let normalAttribute of normalAttributes" formGroupName="{{ normalAttribute }}">
                        <td>
                            <span>
                                {{ normalAttribute | titlecase }}
                            </span>
                            <i  
                                ngbTooltip="Exceptional Attribute, +1 to attribute max"
                                position="bottom"
                                class="bi bi-caret-up-fill text-success"
                                *ngIf="this.character.attributeManager.exceptionalAttributes.includes(normalAttribute)"
                            ></i>
                        </td>
                        <td>
                            {{ this.character.attributeManager.getAttributeBaseValue(normalAttribute) }}
                        </td>
                        <td>
                            <select class="form-select form-select-sm text-center p-0" formControlName="buildPoints">
                                <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                            </select>
                        </td>
                        <td>
                            <select class="form-select form-select-sm text-center p-0" formControlName="increases">
                                <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                            </select>
                        </td>
                        <td>{{ this.character.attributeManager.getAttributeBonuses(normalAttribute) }}</td>
                        <td [ngClass]="{ 'text-danger': this.character.attributeManager.isAttributeTotalAboveMaximum(normalAttribute) }">
                            {{ this.character.attributeManager.getAttributeTotalValue(normalAttribute) }} / 
                            {{ this.character.attributeManager.getAttributeMaxValue(normalAttribute) }}
                            <i 
                                class="bi bi-exclamation-diamond-fill text-warning warning-flash px-1"
                                *ngIf="this.character.attributeManager.isAttributeTotalAboveMaximum(normalAttribute)"
                            ></i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td [ngClass]="{ 'text-danger': this.character.attributeManager.attributeBuildPointsTotal > this.character.attributeManager.attributePoints }">
                            {{ this.character.attributeManager.attributeBuildPointsTotal }} / {{ this.character.attributeManager.attributePoints }}

                        </td>
                        <td>
                            {{ this.character.attributeManager.getAttributeIncreasesKarmaCostTotal() }} karma
                        </td>
                        <td colspan="2"></td>
                    </tr>
                    <tr class="text-center">
                        <td>Essence</td>
                        <td colspan="4"></td>
                        <td>6</td>
                    </tr>
                    <tr class="text-center">
                        <td>
                            <p class="m-0">Initiative</p>
                            <span>(Reaction + Intuition)</span>
                        </td>
                        <td colspan="4"></td>
                        <td class="align-middle">
                            {{ this.character.initiative }}D6
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <div class="d-flex justify-content-between mx-4">
                                <span ngbTooltip="[(Strength x 2) + Body + Reaction] / 3 (round up)" placement="bottom">
                                    Physical Limit: {{ this.character.physicalLimit }}
                                </span>
                                <span ngbTooltip="[(Logic x 2) + Intuition + Willpower] / 3 (round up)" placement="bottom">
                                    Mental Limit: {{ this.character.mentalLimit }}
                                </span>
                                <span ngbTooltip="[(Charisma x 2) + Willpower + Essence] / 3 (round up)" placement="bottom">
                                    Social Limit: {{ this.character.socialLimit }}
                                </span>
                            </div>
                        </td>
                    </tr>
                </tfoot>

            </table>

        </form>

    </div>
</div>

<div class="row">
    <div class="col-12 table-responsive">

        <form [formGroup]="specialAttributesForm">

            <table class="table table-secondary rounded-table text-center">
                <thead>
                    <tr>
                        <th colspan="6">Special Attributes</th>
                    </tr>
                    <tr>
                        <th class="col-2"></th>
                        <th class="col-1">Race / Base</th>
                        <th class="col-1">Build Points</th>
                        <th class="col-1">Increases</th>
                        <th class="col-1">Bonuses</th>
                        <th class="col-1">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let specialAttribute of specialAttributes" formGroupName="{{ specialAttribute }}">
                        <td>
                            <span>
                                {{ specialAttribute | titlecase }}
                            </span>
                            <i  
                                ngbTooltip="Exceptional Attribute, +1 to attribute max"
                                position="bottom"
                                class="bi bi-caret-up-fill text-success"
                                *ngIf="this.character.attributeManager.exceptionalAttributes.includes(specialAttribute)"
                            ></i>
                        </td>
                        <td>
                            {{ this.character.attributeManager.getSpecialAttributeBaseValue(specialAttribute) }}
                        </td>
                        <td>
                            <select class="form-select form-select-sm text-center p-0" formControlName="buildPoints">
                                <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                            </select>
                        </td>
                        <td>
                            0
                        </td>
                        <td>
                            {{ this.character.attributeManager.getSpecialAttributeBonuses(specialAttribute) }}
                        </td>
                        <td [ngClass]="{ 'text-danger': this.character.attributeManager.isSpecialAttributeTotalAboveMaximum(specialAttribute) }">
                            {{ this.character.attributeManager.getSpecialAttributeTotalValue(specialAttribute) }} / {{ this.character.attributeManager.getSpecialAttributeMaxValue(specialAttribute) }}
                            <i 
                                class="bi bi-exclamation-diamond-fill text-warning warning-flash px-1"
                                *ngIf="this.character.attributeManager.isSpecialAttributeTotalAboveMaximum(specialAttribute)"
                            ></i>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2"></td>
                        <td [ngClass]="{ 'text-danger': this.character.attributeManager.specialAttributesBuildPointsTotal > this.character.attributeManager.specialAttributePoints }">
                            {{ this.character.attributeManager.specialAttributesBuildPointsTotal }} / 
                            {{ this.character.attributeManager.specialAttributePoints }}</td>
                        <td></td>
                        <td colspan="2"></td>
                    </tr>
                </tbody>
            </table>

        </form>

    </div>
</div>