<div class="row">

    <div class="col-12">
        <div class="list-group shadow">
            <li class="list-group-item bg-primary">
                <div class="d-flex justify-content-between">
                    <h5 class="my-auto">Firearms</h5>
                    <button class="btn p-0" (click)="openFirearmsShopModal()">
                        <i class="bi bi-cart-plus-fill fs-5"></i>
                    </button>
                </div>
                
            </li>
        </div>
    </div>

</div>
