<div class="row">
    <div class="col d-flex justify-content-end">
        <h6 class="fs-7">9000 / 6000&#165;</h6>
    </div>
</div>

<ul class="list-group shadow">

    <li class="list-group-item bg-primary">

        <div class="row">

            <div class="col-6">
                <h5 class="m-0">Cyberware</h5>
            </div>

            <div class="col-6 d-flex justify-content-end">
                <button class="btn p-0" (click)="openCyberwareModal()">
                    <i class="bi bi-cart-plus-fill"></i>
                </button>
            </div>
        </div>

    </li>



</ul>