<div class="row">

    <div class="col-lg-9">
        <div class="card bg-primary shadow my-2">
            <div class="card-header">
                <h4 class="card-title text-white m-0">Personal Data</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="personalInfoForm">

                    <div class="row g-3 align-items-center mb-2">
                        <label class="form-label col-md-4 col-form-label" for="name">Name/Primary Alias</label>
                        <div class="col-md-8">
                            <input class="form-control" id="name" type="text" formControlName="name" [ngClass]="{ 'is-valid': isNameFieldValid, 'is-invalid': !isNameFieldValid && hasNameFieldBeenTouched }">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <label class="form-label col-md-1 col-form-label" for="role">Role</label>
                        <div class="col-md-3">
                            <select class="form-select col-md-4" id="role" formControlName="role">
                                <option [ngValue]="'face'">Face</option>
                                <option [ngValue]="'caster'">Caster</option>
                                <option [ngValue]="'adept'">Adept</option>
                                <option [ngValue]="'decker'">Decker</option>
                                <option [ngValue]="'technomancer'">Technomancer</option>
                                <option [ngValue]="'rigger'">Rigger</option>
                                <option [ngValue]="'samurai'">Street Samurai</option>
                            </select>
                        </div>

                        <label class="form-label col-md-2 col-form-label" for="gender">Gender</label>
                        <div class="col-md-3">
                            <input class="form-control" id="gender" type="text" formControlName="gender">
                        </div>

                        <label class="form-label col-md-1 col-form-label" for="age">Age</label>
                        <div class="col-md-2">
                            <input class="form-control" id="age" type="text" formControlName="age">
                        </div>

                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <label class="form-label col-md-2 col-form-label" for="height">Height</label>
                        <div class="col-md-2">
                            <input class="form-control" id="height" type="text" formControlName="height">
                        </div>

                        <label class="form-label col-md-2 col-form-label" for="weight">Weight</label>
                        <div class="col-md-2">
                            <input class="form-control" id="weight" type="text" formControlName="weight">
                        </div>
   
                        <label class="form-label col-md-2 col-form-label" for="ethnicity">Ethnicity</label>
                        <div class="col-md-2">
                            <input class="form-control" id="ethnicity" type="text" formControlName="ethnicity">
                        </div>

                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <label class="form-label col-md-2 col-form-label" for="streetCred">Street Cred</label>
                        <div class="col-md-4">
                            <input class="form-control" id="streetCred" type="text" formControlName="streetCred">
                        </div>

                        <label class="form-label col-md-2 col-form-label" for="notoriety">Notoriety</label>
                        <div class="col-md-4">
                            <input class="form-control" id="notoriety" type="text" formControlName="notoriety">
                        </div>
                    </div>

                    <div class="row g-3 align-items-center mb-3">
                        <label class="form-label col-md-3 col-form-label" for="publicAwareness">Public Awareness</label>
                        <div class="col-md-4">
                            <input class="form-control" id="publicAwareness" type="text" formControlName="publicAwareness">
                        </div>

                        <label class="form-label col-md-1 col-form-label" for="notoriety">Misc</label>
                        <div class="col-md-4">
                            <input class="form-control" id="misc" type="text" formControlName="misc">
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <div class="col-lg-3">

        <div class="card bg-primary shadow my-2">
            <div class="card-header">
                <h4 class="card-title text-white m-0">Game Settings</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="gameSettingsForm">
            
                    <div class="row g-3 align-items-center mb-3">
                        <label class="form-label col-md-6 col-form-label" for="levelOfPlay">Level of Play</label>
                        <div class="col-md-6">
                            <select class="form-select col-md-4" id="levelOfPlay" formControlName="levelOfPlay">
                                <option [ngValue]="'normal'">Normal</option>
                                <option [ngValue]="'street'">Street</option>
                                <option [ngValue]="'prime'">Prime</option>
                            </select>
                        </div>
                    </div>

                </form>
            </div>
        </div>

    </div>
</div>

<div class="row">

    <div class="col-12">

        <div class="card bg-primary shadow my-2">
            <div class="card-header">
                <h4 class="card-title text-white m-0">Back Story</h4>
            </div>
            <div class="card-body">
                <form [formGroup]="bioForm">
                    <textarea class="form-control" formControlName="bio" rows="11" placeholder="Your characters back story....."></textarea>
                </form>
            </div>
        </div>

    </div>
</div>
