<div class="container-fluid mt-3">
    <div class="row">
        <div class="col">
            <h5>My Runners</h5>
            <h6 class="text-body-tertiary">{{ characters.length }} / 25</h6>
        </div>
        <div class="col d-flex justify-content-end">
            <button class="btn btn-primary my-auto" (click)="createCharacter()">
                Create Runner
            </button>
        </div>
    </div>

    <div class="d-flex flex-wrap justify-content-center">

        <app-character-card 
            *ngFor="let character of characters" [character]="character"
            (copyCharacterEvent)="copyCharacter($event)"
            (deleteCharacterEvent)="openDeleteCharacterModal($event)"
        ></app-character-card>

    </div>

</div>