        <li class="list-group-item">

            <div class="row">
                <div class="col-6">
                    <div class="d-flex align-middle">
                        <h5 class="pe-4">{{ spell.name  | titlecase }}</h5>
                        <h6 class="fst-italic text-body-tertiary">
                            {{ spell.keyWords | json | titlecase }}
                        </h6>
                    </div>
                </div>
                <div class="col-6">
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-outline-primary p-1" *ngIf="buttonLabel" (click)="emitButtonClick()">
                            {{ buttonLabel }}
                        </button>
                        <button class="btn py-0 px-4" (click)="isCollapsed = !isCollapsed">
                            <i *ngIf="isCollapsed" class="bi bi-arrow-down-square-fill fs-4"></i>
                            <i *ngIf="!isCollapsed" class="bi bi-arrow-up-square-fill fs-4"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row" [(ngbCollapse)]="isCollapsed" [animation]="true">
                <div class="d-flex justify-content-between">
                    <span>
                        Type: {{ spell.type | titlecase }}
                    </span>
                    <span>
                        Range: {{ spell.range | titlecase }}
                    </span>
                    <span>
                        Damage: {{ spell.damange | titlecase }}
                    </span>
                    <span>
                        Duration: {{ spell.duration | titlecase }}
                    </span>
                    <span>
                        Drain: F {{ spell.drain }}
                    </span>
                    <span>
                        Source: {{ spell.page }}
                    </span>
                </div>
            </div>

            <div class="row" [(ngbCollapse)]="isCollapsed" [animation]="true">
                <div class="d-flex mt-3">
                    {{ spell.description }}
                </div>
                
            </div>

        </li>
