<li class="list-group-item">

    <div class="d-flex justify-content-between">

        <div class="col-5">
            <h6 class="pe-4">{{ qualityReference.name  | titlecase }}</h6>
            <h6 class="fst-italic text-body-tertiary">
                {{ qualityReference.karmaTotal }} karama
            </h6>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary mx-2" (click)="emitRemoveQualityEvent()">
                    Remove
                </button>
                <button class="btn py-0 px-2" (click)="isCollapsed = !isCollapsed">
                    <i *ngIf="isCollapsed" class="bi bi-arrow-down-square-fill fs-4"></i>
                    <i *ngIf="!isCollapsed" class="bi bi-arrow-up-square-fill fs-4"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="row" [(ngbCollapse)]="isCollapsed" [animation]="true">

        <div class="col-6">
            <span>Source: {{ quality?.source }}</span>
        </div>

        <div class="col-6" *ngIf="ratingForm">

            <form class="row g-3" [formGroup]="ratingForm">
                <label class="form-label form-label-sm col-sm-4">Rating</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm px-2 text-center" formControlName="rating">
                        <option *ngFor="let i of getQualityMaxRating(qualityReference.name) | rangeArray : 1" [ngValue]="i">
                            {{ i }}
                        </option>
                    </select>
                </div>
            </form>

        </div>

        <div class="col-6" *ngIf="optionsForm">

            <form class="row g-3" [formGroup]="optionsForm">
                <label class="form-label form-label-sm col-sm-4">Option</label>
                <div class="col-sm-8">
                    <select class="form-select form-select-sm px-2 text-center" formControlName="option">
                        <option *ngFor="let option of options" [ngValue]="option.name">
                            {{ option.name | titlecase }}
                        </option>
                    </select>
                </div>
            </form>

        </div>

    </div>

    <div class="row" [(ngbCollapse)]="isCollapsed" [animation]="true">
        <div>
            <span class="text-info">Description: </span>{{ quality?.description }}
        </div>

        <div class="mt-3" *ngIf="optionsForm">
            <span class="text-info">{{ optionFormValue | titlecase }}: </span>{{ optionDescription }}
        </div>
    </div>

</li>