<app-navbar *ngIf="character" [characterName]="character.name"></app-navbar>

<div class="container-xxl">
    <!-- {{ character | json }} -->
    <div *ngIf="character">

        <app-concept-step
            *ngIf="editorStep === 'concept'"
            [character]="character"
        ></app-concept-step>

        <app-priorities-step
            *ngIf="editorStep === 'priorities'"
            [character]="character"
        ></app-priorities-step>

        <app-meta-type-step
            *ngIf="editorStep === 'meta-type'"
            [character]="character"
        ></app-meta-type-step>

        <app-attribute-step
            *ngIf="editorStep === 'attributes'"
            [character]="character"
        ></app-attribute-step>

        <app-magic-resonance-step
            *ngIf="editorStep === 'magic-resonance'"
            [character]="character"
        ></app-magic-resonance-step>

    </div>
</div>