<!-- <div class="row">

    <div class="col-md-3">
        <div class="card bg-primary shadow mb-2">

            <div class="card-header">
                <h5 class="card-title text-white m-0">Magic User Type</h5>
            </div>
            
            <div class="card-body">
                <form [formGroup]="magicUserTypeForm">
                    <select class="form-select" formControlName="magicUserType">
                        <option *ngFor="let magicUserType of magicUserTypeOptions" [ngValue]="magicUserType">
                            {{ magicUserType | titlecase }}
                        </option>
                    </select>
                </form>
            </div>
        </div>

    </div>

    <div class="col-md-7">
        <div class="card bg-primary shadow mb-2">

            <div class="card-header">
                <h5 class="card-title text-white m-0">Magic Attribute</h5>
            </div>
            
            <div class="card-body">

                <form [formGroup]="attributeForm" *ngIf="attributeForm">
                    <table class="table table-sm text-center m-0">
                        <thead>
                            <tr>
                                <th class="col-1"></th>
                                <th class="col-1">Priority</th>
                                <th class="col-1">Build Points</th>
                                <th class="col-1">Increases</th>
                                <th class="col-1">Bonuses</th>
                                <th class="col-1">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ attributeName | titlecase }}</td>
                                <td>
                                    {{ magicalAttributeMinimum }}
                                </td>
                                <td>
                                    <select class="form-select form-select-sm text-center" formControlName="buildPoints">
                                        <option *ngFor="let i of 11 | rangeArray " [ngValue]="i">{{ i }}</option>
                                    </select>
                                </td>
                                <td>
                                    <select class="form-select form-select-sm text-center" formControlName="increases">
                                        <option *ngFor="let i of 11 | rangeArray" [ngValue]="i">{{ i }}</option>
                                    </select>
                                </td>
                                <td>0</td>
                                <td [ngClass]="{ 'text-danger': magicalAttributeTotal > 6}">
                                     {{ magicalAttributeTotal }} / 6
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"></td>
                                <td [ngClass]="{ 'text-danger': totalSpecialBuildPointsSpent > maxSpecialBuildPoints}">
                                    {{ totalSpecialBuildPointsSpent }} / {{ maxSpecialBuildPoints }}
                                    <i class="bi bi-exclamation-diamond-fill text-warning warning-flash"        *ngIf="totalSpecialBuildPointsSpent > maxSpecialBuildPoints"></i>
                                </td>
                                <td colspan="3"></td>
                            </tr>
                        </tbody>
                    </table>
                </form>

            </div>
        </div>

    </div>

</div>



<div class="row" *ngIf="characterMagicUserType === 'magician' || characterMagicUserType === 'mystic adept'">
    <div class="col-12">
        <app-spell-list 
            [listTitle]="'Known Spells'" 
            [listTitleSecond]="'Remaining Free Spells: ' + characterRemainingFreeSpells"
            [spellList]="characterSpells" 
            [itemButtonLabel]="'Unlearn'"
            (itemButtonClick)="unlearnSpell($event)"
        ></app-spell-list>
    </div>
</div>

<div class="row" *ngIf="characterMagicUserType === 'magician' || characterMagicUserType === 'mystic adept'">
    <div class="col-12">
        <app-spell-list 
            [listTitle]="'Available Spells'" 
            [spellList]="availableSpells" 
            [itemButtonLabel]="'Learn'"
            (itemButtonClick)="learnSpell($event)"
        ></app-spell-list>
    </div>
</div> -->
