<li class="list-group-item">

    <div class="row">

        <div class="col-5">
            <h6 class="pe-4">{{ quality.name  | titlecase }}</h6>
        </div>

        <div class="col-3 text-center">
            <h6 class="fst-italic text-body-tertiary">
                {{ quality.karmaCost }} karama
            </h6>
        </div>

        <div class="col-4">
            <div class="d-flex justify-content-end">
                <button class="btn btn-outline-primary p-1" (click)="emitAddQualityEvent()">
                    Add
                </button>
                <button class="btn py-0 px-4" (click)="isCollapsed = !isCollapsed">
                    <i *ngIf="isCollapsed" class="bi bi-arrow-down-square-fill fs-4"></i>
                    <i *ngIf="!isCollapsed" class="bi bi-arrow-up-square-fill fs-4"></i>
                </button>
            </div>
        </div>

    </div>

    <div class="row" [(ngbCollapse)]="isCollapsed" [animation]="true">
        <div class="d-flex justify-content-between">
            <span>
                Source: {{ quality.source }}
            </span>
        </div>
    </div>

    <div class="row" [(ngbCollapse)]="isCollapsed" [animation]="true">
        <div class="d-flex mt-3">
            {{ quality.description }}
        </div>
        
    </div>

</li>
